.feature-three_inner {
    background: black;
    color: white;
    border-radius: 10px;
    padding: 10px 25px 10px 64px;
}
.faqs{
    background: linear-gradient(to left, var(--color-sixtyeight) 0%, var(--color-sixtyseven) 100%);
    padding: 50px;
    margin: 0px;
}
.act{
    padding: 0 13px;
}
.l-lat {
    list-style: lower-latin !important;
}

@media only screen and (min-width: 1024px) {
    .logo {
        width: 210px !important;
    }
  }
  @media only screen and (max-width: 786px) {
    .logo {
        width: 160px !important;
    }
  }